*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
.nav-link.active {
  text-decoration: underline;
}
.navbar-toggler:focus {
  box-shadow: 0 0 0 0.105rem !important;
}
.loader-center {
  height: 100vh;
  display: grid;
  place-content: center;
}
.loader {
  width: 50px;
  padding: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #2196f3;
  --_m: conic-gradient(#0000 10%, #000), linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
  mask: var(--_m);
  -webkit-mask-composite: source-out;
  mask-composite: subtract;
  animation: l3 1s infinite linear;
}
@keyframes l3 {
  to {
    transform: rotate(1turn);
  }
}
.swal2-styled.swal2-confirm {
  background: #dc3545 !important;
}
.swal2-styled.swal2-confirm:focus {
  box-shadow: 0 0 0 3px rgba(220, 53, 69, 0.5) !important;
}
.title {
  width: 220px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.product-img {
  height: 200px;
  object-fit: contain;
  padding: 0.5rem;
  transition: 0.3s;
}
.row {
  row-gap: 1.5rem;
}
.responsive-table {
  overflow-x: auto;
}
.table-width {
  min-width: 700px;
}
@media (max-width: 768px) {
  .row > * {
    display: flex;
    justify-content: center;
  }
}
@media (min-width: 1116px) {
  .col:nth-child(19) {
    margin-right: 70px;
    flex: 0;
  }
}
@media (min-width: 992px) {
  .col:nth-child(19) {
    flex: 0;
  }
}
.card {
  transition: 0.3s;
}
.card:hover {
  box-shadow: 0 0 5px 5px #e0e0e0;
}
.card:hover .product-img {
  transform: scale(1.09);
}
.landing {
  background-image: url("./imags/artem-beliaikin-UdQt3FT6rxM-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  position: relative;
}
.landing::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.landing .intro-text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 395px;
  max-width: 100%;
  z-index: 1;
}
.landing .intro-text h1 {
  margin: 0px;
  color: white;
  font-weight: bold;
  font-size: 3.125rem;
  transition: 0.3s linear;
}
.swal2-close {
  position: absolute;
  right: 10px !important;
  top: 10px;
  color: #dc3545 !important;
}
@media (max-width: 450px) {
  .landing .intro-text h1 {
    text-align: center;
    font-size: 2rem;
  }
  .swal2-title {
    font-size: 20px !important;
  }
}
.main-title {
  text-transform: uppercase;
  font-size: 25px;
  padding: 7px 15px;
  border: 2px solid black;
  width: fit-content;
  margin: 0 auto 40px;
  position: relative;
  z-index: 1;
  transition: 1s;
  text-decoration: none;
  display: block;
}
.main-title::before,
.main-title::after {
  content: "";
  position: absolute;
  top: 51%;
  transform: translateY(-50%);
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #2196f3;
  z-index: -1;
}
.main-title::before {
  left: -30px;
}
.main-title::after {
  right: -30px;
}
.main-title:hover {
  color: white;
  border: 2px solid #2196f3;
}
.main-title:hover::before {
  animation: left-move 0.5s linear forwards;
}
.main-title:hover::after {
  animation: right-move 0.5s linear forwards;
}
tr img {
  width: 70px;
  max-width: 100%;
}
footer {
  background-color: black;
  color: white;
  padding: 1.5rem;
  text-align: center;
}
footer p {
  margin-bottom: 0;
  font-size: 1.2rem;
}
footer a {
  margin-left: 0.5rem;
  text-decoration: none;
}
.ButtonTop {
  position: fixed;
  bottom: 20px;
  right: -120px;
  transition: 0.3s linear;
}
.ButtonTop#show {
  transition: 0.3s linear;
  right: 20px;
}
.increase-btn,
.decrease-btn {
  background: transparent;
  border-color: transparent;
}
.amount {
  margin-bottom: 0;
  /* margin-left: 0.3rem; */
  line-height: 1;
}
.section-center {
  margin: 8rem 0 2rem !important;
}
.single-product-img {
  height: 17rem;
  object-fit: cover;
  border-radius: 0.5rem;
}
.single-product-title {
  font-weight: 400;
  font-size: 40px;
  margin-bottom: 0.75rem;
}
.single-product-catagore {
  font-size: 1.2rem;
  color: hsl(210, 31%, 80%);
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin-bottom: 1.25rem;
}
.single-product-price {
  color: hsl(209, 34%, 30%);
  font-size: 1.25rem;
  font-weight: 500;
}
.single-product-desc {
  max-width: 25em;
  line-height: 1.8;
}
@media (max-width: 991.9px) {
  .section-center {
    display: block !important;
  }
  .single-product-title {
    margin-top: 1rem;
  }
  .single-product-desc {
    max-width: 100%;
  }
}
@media (max-width: 520px) {
  .single-product-title {
    font-size: 2rem;
  }
}
.about {
  display: grid;
  height: 96vh;
  place-content: center;
  text-align: center;
  transition: 0.3s linear;
}

@media (max-width: 450px) {
  .about {
    margin: 6rem 0;
  }
}

h2 span {
  color: #ba5d2c;
  font-size: 0.85em;
  margin-right: 1rem;
}
.about p {
  margin: 1rem auto;
  width: 80%;
}
@keyframes left-move {
  50% {
    left: 0px;
    width: 12px;
    height: 12px;
  }
  100% {
    left: 0px;
    border-radius: 0;
    width: 100%;
    height: 100%;
  }
}
@keyframes right-move {
  50% {
    right: 0px;
    width: 12px;
    height: 12px;
  }
  100% {
    right: 0px;
    border-radius: 0;
    width: 100%;
    height: 100%;
  }
}
